## Standard
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

## Custom
.DS_Store

## Test-related (should be fixed)
dump.bin
dump.txt
dump1.txt
dumpfiltererd.txt
mdt_msg_samples/hexdump.bin
models.txt
pipeline.log

# JetBrains IDE
.idea/